{% extends "pageframe.html" %}
{% import "macros/general.html" as macros %}

{% block page %}
{% if data.map_html %}
{{ macros.title("Adventure Map") }}
<tr>
<td>
<center>
<center>
<br><br>
{{ data.map_html|raw }}
</center>
</center>
</td>
</tr>
<tr>
<td height="116"></td>
</tr>
{% else %}
{{ macros.title("Select Map") }}
<tr>
<td>
<center>
    <br><br>
    {% for adv in data.adventures %}
    {% if not adv.hidden %}
    <font size="5"><a href="/map/{{ adv.id }}">{{ adv.title }}</a></font>
    <br><br>
    {% endif %}
    {% endfor %}
</center>
<br><br><br>
</td>
</tr>
<tr>
<td height="116"></td>
</tr>
{% endif %}
{% endblock %}