{% set theme = get_theme() %}
{% set page_width = data.hscroll ? 1200 : (data.options.classic and not data.page.supercartridge ? 941 : 950) %}
{% import "macros/read.html" as read %}
<!DOCTYPE html>
<html>
    <head>
        <title>MSPA Legacy</title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        {# HACK: Avoid fucking up syntax highlighting #}
        {% include "pageframe_style.html" %}
        {% if data.theme == "scratch" %}
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/ddimgtooltip.js"></script>
        <link rel="stylesheet" href="/assets/css/ddimgtooltip.css">
        {% endif %}
        {% if data.didnt_save %}
        <script>alert("You did not save your game!");</script>
        {% endif %}
    </head>
    <body topmargin="0" bottommargin="0" bgcolor="{{ theme.pageBg }}" background="{{ theme.pageBgImg }}" {% block body_attrs %}{% endblock %}
    {% if theme.pageLink %}
    link="{{ theme.pageLink }}"
    alink="{{ theme.pageLink }}"
    vlink="{{ theme.pageLink }}"
    {% endif %}
    >
        <center>
        <table width="" height="" cellspacing="0" cellpadding="0" border="0" bgcolor="" background="">
        <tbody>
        {# LINKS #}
        <tr>
            <td>
            {% if data.fireflies %}
            {% include "include/fireflies.html" %}
            {% endif %}
            <table width="{{ page_width }}"
                   height="17"
                   cellspacing="0"
                   cellpadding="0"
                   border="0"
                   bgcolor="{{ data.options.classic and theme.linksBgClassic ? theme.linksBgClassic : theme.linksBg }}"
                   background="">
            <tbody>
            <tr>
            <td>
            {% if data.banner %}
            <center>
            <a href="/"
            {# WHAT THE FUCK IS THIS SYNTAX FOR STRICT COMPARISON #}
            {% if data.banner.imgtip or data.banner.imgtip is same as(0) %}
            rel="imgtip[{{ data.banner.imgtip }}]"
            {% endif %}
            >
                <img src="{{ data.banner.image }}" border="0" title="{{ data.banner.tooltip }}" style="vertical-align: bottom;">
            </a>
            </center>
            {% endif %}
            </td>
            </tr>
            <tr>
            {% if data.theme == "trickster" %}
            <td bgcolor="#000000">
                {{ read.flash(
                    "/mspa/images/trickster_sitegraphics/menu",
                    "/mspa/images/trickster_sitegraphics/AC_RunActiveContent.js",
                    950, 20,
                    "#000000"
                ) }}
            </td>
            {% else %}
            <td border="0" valign="top" height="0" bgcolor="">
                <center>
                {% if data.options.classic %}
                <span style="font-size: 9px; line-height: normal; color: {{ theme.linksColorClassic ? theme.linksColorClassic : theme.linksColor }}">
                {% else %}
                <font size="1" face="{{ data.theme == "sbahj" ? "Comic Sans MS" : "arial"}}" color="{{ theme.linksColor }}">
                {% endif %}
                <b>
                    {% for link in data.links %}
                        {% if link == "candycorn" %}
                            &nbsp; <img src="{{ theme.candyCorn }}" border="0" align="absmiddle"> &nbsp;
                        {% elseif link == "separator" %}
                            |
                        {% else %}
                        <a href="{{ link.url }}"
                           {{ link.newtab ? 'target="_blank"' : "" }}
                           style="color: {{ attribute(theme.links, link.color) }};"><font color="{{ attribute(theme.links, link.color) }}">{{ link.text }}</font></a>
                        {% endif %}
                    {% endfor %}
                </b>
                {% if data.options.classic %}
                </span>
                {% else %}
                </font>
                {% endif %}
                </center>
            </td>
            {% endif %}
            </tr>
            <tr><td></td></tr>
            </tbody>
            </table>
            </td>
        </tr>
        {# CONTENT #}
        <tr>
            <td>
            <table width="{{ page_width }}" height="" cellspacing="0" cellpadding="0" border="0" bgcolor="" background="">
            <tbody>
            <tr>
            <td width="{{ page_width }}" height="100%" bgcolor="{{ theme.cardBgDark }}" background="{{ theme.cardBgDarkImg }}">
            <table width="{{ page_width }}" height="" cellspacing="0" cellpadding="0" border="0" bgcolor=""
            {% if data.page.supercartridge and not data.theme %}
            background="/assets/img/cartridge_back.gif"
            {% else %}
            background=""
            {% endif %}
            >
            <tbody>
            {% if not data.options.classic and not data.page.supercartridge %}
            <tr>
                <td height="7" bgcolor="{{ theme.cardBgDark }}" background="{{ theme.cardBgDarkImg }}"></td>
            </tr>
            {% endif %}
            <tr>
            <td>
            <center>
            {% block supercartridge %}{% endblock %}
            <table width="650" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="{{ theme.cardBg }}">
            <tbody>
            {% block page %}{% endblock %}
            </tbody>
            </table>
            </center>
            </td>
            </tr>
            <tr>
                <td height="23" bgcolor="{{ theme.cardBgDark }}" background="{{ theme.cardBgDarkImg }}"></td>
            </tr>
            {# CLASSIC FOOTER #}
            {% if data.options.classic %}
            <tr>
            <td bgcolor="{{ theme.cardBgDark }}">
                <img src="{{ theme.footerClassic }}" border="0">
            </td>
            </tr>
            {% endif %}
            </tbody>
            </table>
            </td>
            </tr>
            </tbody>
            </table>
            </td>
        </tr>
        {% if not data.options.classic %}
        {# FOOTER #}
        <tr>
            <td>
            <table width="{{ page_width }}" height="110" cellspacing="0" cellpadding="0" border="0" bgcolor="" background="">
            <tbody>
            <tr>
            <td width="{{ page_width }}" valign="middle" height="110" background="{{ theme.footer }}"></td>
            </tr>
            </tbody>
            </table>
            </td>
        </tr>
        {% endif %}
        </tbody>
        </table>
        </center>
    </body>
</html>