{% extends "pageframe.html" %}
{% import "macros/general.html" as macros %}

{% block page %}
{{ macros.title("[???????]") }}
<tr>
<td>
<center>
    <img src="/mspa/storyfiles/hs2/scraps/pwimg.gif">
    <br>
    <form name="input" action="" method="get">
        3NTER P4SSWORD:
        <br>
        <input type="text" name="pw">
        <input type="submit" value="Submit">
    </form>
    <br><br>
    {% if data.wrong_pw %}
    &lt;- <b>WRONG!</b> GO B4CK!!!
    {% else %}
    &lt;- OR GO B4CK!!!
    {% endif %}
    <br><br>
    <div style="border: 1px dashed gray; padding: 1px;">
        <div>
            <button type="button" class="button"
                    onmouseover="this.sv=this.style.backgroundColor; this.style.backgroundColor='#777777';"
                    onmouseout="if(this.sv)this.style.backgroundColor=this.sv; else this.style.backgroundColor='';"
                    onclick="this.parentNode.parentNode.children[1].style.display = ''; this.parentNode.style.display = 'none'; return false;"
                    title="Click to show the text.">
                P4SSWORD H1NT
            </button>
        </div>
        <div class="spoiler" style="display: none;">
            <div>
                <button type="button" class="button"
                    onclick="this.parentNode.parentNode.parentNode.children[0].style.display = ''; this.parentNode.parentNode.style.display = 'none'; return false;"
                    title="Click to hide the spoiler.">
                    P4SSWORD H1NT
                </button>
            </div>
            <table width="90%" cellspacing="0" cellpadding="3" border="0">
            <tbody>
            <tr>
            <td width="100%" valign="top"> 
                <p style=" font-weight: bold; font-family: courier, monospace;color:#000000">
                <span style="color: #008282">1F YOU DON'T KNOW TH3 P4SSWORD Y3T, 1T M34NS YOU'R3 NOT SUPPOS3D TO, DUMMY! GO B4CK!!!</span>
                </p>
            </td>
            </tr>
            </tbody>
            </table>
        </div>
    </div>
</center>
</td>
</tr>
<tr>
<td height="116"></td>
</tr>
{% endblock %}