{% extends "pageframe.html" %}
{% import "macros/general.html" as macros %}
{% import "macros/read.html" as read %}

{% block body_attrs %}
{% for media in data.page.media %}
{% if media.type == "jternia" %}
onload="Sburb.initialize('JterniaDeploy', '{{ media.xml_url }}', false);"
{% endif %}
{% endfor %}
{% endblock %}

{% block js %}
{% if data.fireflies %}
<script src="/assets/js/firefly.js"></script>
{% endif %}
{% endblock %}

{% block css %}
{% if data.fireflies %}
<link rel="stylesheet" href="/assets/css/firefly.css">
{% endif %}
{% endblock %}

{% block supercartridge %}
{% for media in data.page.media %}
{% if media.type == "supercartridge" %}
{{ media.html|raw }}
{% endif %}
{% endfor %}
{% endblock %}

{% block page %}
{% if not data.page.supercartridge %}
{{ macros.title(data.page.title) }}
{{ read.media(data.page.media) }}
<tr>
<td height="17"></td>
</tr>
{% endif %}
{{ read.text(data.page) }}
<tr>
<td height="17"></td>
</tr>
<tr>
<td>
<table width="600" cellspacing="0" cellpadding="0" border="0" align="center">
<tbody>
<tr>
<td>
	{{ read.commands(data.page.commands) }}
	<br><br>
{% if data.theme == "homosuck" %}
	<font color="#000000">
{% endif %}
	{{ read.footer(data.page) }}
{% if data.theme == "homosuck" %}
	</font>
{% endif %}
	<br><br>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
{% endblock %}