{% set theme = get_theme() %}
{% import "macros/general.html" as macros %}
{% import "macros/read.html" as read %}
<!DOCTYPE html>
<html>
    <head>
        <title>MSPA Legacy</title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        {# HACK: Avoid fucking up syntax highlighting #}
        {% include "pageframe_style.html" %}
        {% if data.didnt_save %}
        <script>alert("You did not save your game!");</script>
        {% endif %}
    </head>
    <body topmargin="0" bottommargin="0" bgcolor="{{ theme.pageBg }}">
        <center>
        <table width="" height="" cellspacing="0" cellpadding="0" border="0" bgcolor="" background="">
        <tbody>
        {# LINKS #}
        <tr>
            <td>
            <table width="1660"
                   height="17"
                   cellspacing="0"
                   cellpadding="0"
                   border="0"
                   bgcolor="{{ data.options.classic and theme.linksBgClassic ? theme.linksBgClassic : theme.linksBg }}"
                   background="">
            <tbody>
            <tr>
            <td>
            <center>
                <img src="/assets/img/act6act5act1x2combo.gif">
            </center>
            </td>
            </tr>
            <tr>
            <td border="0" valign="top" height="0" bgcolor="">
                <center>
                {% if data.options.classic %}
                <span style="font-size: 9px; line-height: normal; color: {{ theme.linksColorClassic ? theme.linksColorClassic : theme.linksColor }}">
                {% else %}
                <font size="1" face="{{ data.theme == "sbahj" ? "Comic Sans MS" : "arial"}}" color="{{ theme.linksColor }}">
                {% endif %}
                <b>
                    {% for link in data.links %}
                        {% if link == "candycorn" %}
                            &nbsp; <img src="{{ theme.candyCorn }}" border="0" align="absmiddle"> &nbsp;
                        {% elseif link == "separator" %}
                            |
                        {% else %}
                        <a href="{{ link.url }}"
                           {{ link.newtab ? 'target="_blank"' : "" }}
                           style="color: {{ attribute(theme.links, link.color) }};"><font color="{{ attribute(theme.links, link.color) }}">{{ link.text }}</font></a>
                        {% endif %}
                    {% endfor %}
                    &nbsp; <img src="{{ theme.candyCorn }}" border="0" align="absmiddle"> &nbsp;
                    {% for link in data.links %}
                        {% if link == "candycorn" %}
                            &nbsp; <img src="{{ theme.candyCorn }}" border="0" align="absmiddle"> &nbsp;
                        {% elseif link == "separator" %}
                            |
                        {% else %}
                        <a href="{{ link.url }}"
                           {{ link.newtab ? 'target="_blank"' : "" }}
                           style="color: {{ attribute(theme.links, link.color) }};"><font color="{{ attribute(theme.links, link.color) }}">{{ link.text }}</font></a>
                        {% endif %}
                    {% endfor %}
                    <a name="TWO"></a>
                </b>
                {% if data.options.classic %}
                </span>
                {% else %}
                </font>
                {% endif %}
                </center>
            </td>
            </tr>
            <tr><td></td></tr>
            </tbody>
            </table>
            </td>
        </tr>
        {# CONTENT #}
        <tr>
            <td>
            <table width="1660" height="" cellspacing="0" cellpadding="0" border="0" bgcolor="" background="">
            <tbody>
            <tr>
            <td width="1660" height="100%" bgcolor="{{ theme.cardBgDark }}">
            <table width="1660" height="" cellspacing="0" cellpadding="0" border="0" bgcolor="">
            <tbody>
            {% if not data.options.classic %}
            <tr>
                <td height="7" bgcolor="{{ theme.cardBgDark }}"></td>
            </tr>
            {% endif %}
            <tr>
            <td>
            <center>
            <table {{ data.options.classic ? 'style="margin-top: -3px;"' : '' }}>
            <tbody>
            <tr>
            <td valign="top">
                <table width="650" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="{{ theme.cardBg }}">
                <tbody>
                    {{ macros.title(data.page.title) }}
                    {{ read.media(data.page.media) }}
                    <tr>
                    <td height="{{ data.options.smallfonts ? 3 : 17 }}"></td>
                    </tr>
                    {{ read.text(data.page) }}
                    <tr>
                    <td height="{{ data.options.smallfonts ? 8 : 17 }}"></td>
                    </tr>
                    <tr>
                    <td>
                    <table width="600" cellspacing="0" cellpadding="0" border="0" align="center">
                    <tbody>
                    <tr>
                    <td>
                        <font size="5">
                            &gt; <a href="#TWO">
                                <img src="/assets/img/act6act5act1x2arrows.gif" border="0">
                            </a>
                        </font>
                        <br><br>
                        {{ read.footer(data.page) }}
                        <br><br>
                    </td>
                    </tr>
                    </tbody>
                    </table>
                    </td>
                    </tr>
                </tbody>
                </table>
            </td>
            <td width="25"></td>
            <td valign="top">
                <table width="650" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="{{ theme.cardBg }}">
                <tbody>
                    {{ macros.title(data.page2.title) }}
                    {{ read.media(data.page2.media) }}
                    <tr>
                    <td height="{{ data.options.smallfonts ? 3 : 17 }}"></td>
                    </tr>
                    {{ read.text(data.page2) }}
                    <tr>
                    <td height="{{ data.options.smallfonts ? 8 : 17 }}"></td>
                    </tr>
                    <tr>
                    <td>
                    <table width="600" cellspacing="0" cellpadding="0" border="0" align="center">
                    <tbody>
                    <tr>
                    <td>
                        <font size="5">
                            {{ read.commands(data.page2.commands) }}
                        </font>
                        <br><br>
                        {{ read.footer(data.page) }}
                        <br><br>
                    </td>
                    </tr>
                    </tbody>
                    </table>
                    </td>
                    </tr>
                </tbody>
                </table>
            </td>
            </tr>
            </tbody>
            </table>
            </center>
            </td>
            </tr>
            <tr>
                <td height="23" bgcolor="{{ theme.cardBgDark }}"></td>
            </tr>
            {# CLASSIC FOOTER #}
            {% if data.options.classic %}
            <tr>
            <td>
                <img src="{{ theme.footerClassic }}" border="0">
            </td>
            </tr>
            {% endif %}
            </tbody>
            </table>
            </td>
            </tr>
            </tbody>
            </table>
            </td>
        </tr>
        {% if not data.options.classic %}
        {# FOOTER #}
        <tr>
            <td>
            <table width="1660" height="110" cellspacing="0" cellpadding="0" border="0" bgcolor="" background="">
            <tbody>
            <tr>
            <td width="1660" valign="middle" height="110" background="/assets/img/bannerframeX2.gif"></td>
            </tr>
            </tbody>
            </table>
            </td>
        </tr>
        {% endif %}
        </tbody>
        </table>
        </center>
    </body>
</html>