{% extends "pageframe.html" %}
{% import "macros/general.html" as macros %}

{% block page %}
{% if data.search_html %}
{{ macros.title("SEARCH") }}
<tr>
<td>
<center>
    <b>
        Hey, welcome to the super cool low-tech search page!
        <br><br>
        To search for something, hit Ctrl+F (or Apple+F) and type what you're looking for.
        Let your browser do all the work!!! If your text is in one of the commands or
        captions, it'll show up here.
        <br><br>
        Dang, it doesn't get much easier!
        <br><br>
        <img src="/assets/img/search_sleuth.gif">
        <br><br>
    </b>
    {{ data.search_html|raw }}
</center>
</td>
</tr>
<tr>
<td height="116"></td>
</tr>
{% else %}
{{ macros.title("Search Story") }}
<tr>
    <td>
    <center>
        <br><br>
        <font size="5"><a href="/search/6_3">Homestuck Act 6</a></font>
        <br><br>
        <font size="5"><a href="/search/6_2">Homestuck Act 5</a></font>
        <br><br>
        <font size="5"><a href="/search/6_1">Homestuck Acts 1-4</a></font>
        <br><br>
        <font size="5"><a href="/search/4">Problem Sleuth</a></font>
        <br><br>
        <font size="5"><a href="/search/2">Bard Quest</a></font>
        <br><br>
        <font size="5"><a href="/search/1">Jailbreak</a></font>
        <br><br>
    </center>
    <br><br><br>
    </td>
    </tr>
    <tr>
    <td height="116"></td>
    </tr>
{% endif %}
{% endblock %}